Q1. Create one variable containing following type of data:
(i) string
(ii) list
(iii) float
(iv) tuple

In [1]:
s = 'hello'
li = [1,2,3,4,5]
f = 2.345
tup = (1,2,3,4)

Q2. Given are some following variables containing data:
(i) var1 = ‘ ‘
(ii) var2 = ‘[ DS , ML , Python]’
(iii) var3 = [ ‘DS’ , ’ML’ , ‘Python’ ]
(iv) var4 = 1.

What will be the data type of the above given variable.

In [3]:
var1 = ''
var2 = '[DS,ML,Python]'
var3 = ['DS','ML','Python']
var4 = 1

print(type(var1))
print(type(var2))
print(type(var3))
print(type(var4))

<class 'str'>
<class 'str'>
<class 'list'>
<class 'int'>

Q3. Explain the use of the following operators using an example:

(i) /

(ii) %

(iii) //

(iv) **

In [4]:
#'/' (divison) : use to divide two values gives answer in float data type
a = 10
b = 5
print(a/b)

2.0

In [5]:
#'%' (modulus) : used to get the remainder value after dividing two numbers
a = 6
b = 4
print(a%b)

2

In [6]:
#'//' (floor division) : used to give the value as an integer after dividing two numbers
a = 199
b = 34
print(a//b)

5

In [7]:
#'**' (Exponentiation) : used to calcuate the power of a number
a = 4
b = 5
print(a**b)

1024

Q4. Create a list of length 10 of your choice containing multiple types of data. Using for loop print the
element and its data type.

In [8]:
li = [1,2,3,4,2.4,2+4j,"hello",'hi',True,8.46]
for i in li:
  print(i,end= " ")
  print(type(i))

1 <class 'int'>
2 <class 'int'>
3 <class 'int'>
4 <class 'int'>
2.4 <class 'float'>
(2+4j) <class 'complex'>
hello <class 'str'>
hi <class 'str'>
True <class 'bool'>
8.46 <class 'float'>

Q5. Using a while loop, verify if the number A is purely divisible by number B and if so then how many
times it can be divisible.

In [12]:
a = 64
b = 2
count = 0
if(a%b == 0):
  print("yes it is purely divisible...")
  while(a%b == 0):
    a = a/b
    count+=1
  print("count = ", count)
else:
  print("No, this number is not purely divisible ")

yes it is purely divisible...
count =  6

Q6. Create a list containing 25 int type data. Using for loop and if-else condition print if the element is
divisible by 3 or not.

In [14]:
li = [1,34,54,312,524,2334,35454,2143,54,545,35,5,43,43124,41,43314,65,15,48,56,486,4376,4368,80,189,879]
for i in li:
  if(i%3 == 0):
    print(i , end= " ")
  else:
    continue

54 312 2334 35454 54 43314 15 48 486 4368 189 879

Q7. What do you understand about mutable and immutable data types? Give examples for both showing
this property.

mutable data types: these datatypes allow manipulation actions such as append , remove , delete etc.
example of these data types is : lists , set , dictionary etc

immutable data types: these datatypes doesn't allow manipulation actions such as append , remove , delete etc. and once created can never be changed
example of these data types is : floadd , tuple , int , string etc